.icon_text_left_right {
    .grid-x {
        margin-bottom: 1em;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;

        .cell {
            padding-right: 1em;
            padding-left: 1em;

            &.image-container {
                display: flex;
                padding-right: 0;
                padding-left: 0;
                justify-content: center;
                align-items: center;
            }

            &.text-container {

                .txt-with-divider {
                    display: flex;
                    width: 60px;
                    height: 3px;
                    margin-bottom: 1em;
                    margin-left: 0;
                    justify-content: center;
                    align-items: stretch;

                    .txt-with-divider--item {
                        width: 100%;
                        padding-bottom: 0;

                        &.divider--orange {
                            background-color: #fa8d28;
                        }
                    }
                }


            }
        }
    }
}