
@mixin core-blue-mix {
	@include color-theme($core-blue, $core-blue-light, $core-blue-40, $white, $yellow, $gray, $core-orange);
}
#core-blue-theme {
	@include core-blue-mix;
	--theme-primary-color: #00A8E1;
	--theme-faded-color: #E7F7FC;
	--theme-variant-color: #84D3EF;
	--theme-contrast-color: #fefefe;
	--theme-accent-color: #FAE164;

    #written-story {
        .line1 {stroke:#004ba5}
        .line2 {stroke:#FAE164}
        .line3 {stroke:#a8dbf0}
        .line4 {stroke:#daeaf6}
        .line5 {stroke:#a8dbf0}
        .line6 {stroke:#0f3264}
        .line7 {stroke:#FAE164}
        .line8 {stroke:#8dc8e8}
        .line9 {stroke:#daeaf6}
    }  
    
    #swirl-kd {
        .line1 {stroke:#FAE164}
        .line2 {stroke:#004ba5}
        .line3 {stroke:#fcf5bc}
        .line4 {stroke:#daeaf6}
        .line5 {stroke:#daeaf6}
        .line6 {stroke:#004ba5}
        .line7 {stroke:#8dc8e8}
        .line8 {stroke:#8dc8e8}
        .line9 {stroke:#FAE164}
        .line10 {stroke:#fcf5bc}
    }  
    
    #high-impact-quote {        
	    .color1 {
	        stroke: #8dc8e8;
	    }
	    
	    .color2 {
	        stroke: #daeaf6;
	    }
	    
	    .color3 {
	        stroke: #fcf5bc;
	    }
	    
	    .color4 {
	        stroke: #FAE164;
	    }
	    
	    .color5 {
	        stroke: #004ba5;
	    }

	    .color6 {
	        stroke: #daeaf6;
	    }
	    .color7 {
	        stroke: #8dc8e8;
	    }

    }
    
	$lightblue-wl:#8dc8e8;
	$yellow-wl:#fae164;
	$blue-wl:#004ba5;
	$white-wl:#ffffff;
	$backblue-wl:#00a8e1;
	
	#wavelines-all-colors {
		.line1 {stroke:$lightblue-wl;}
		.line2 {stroke:$blue-wl;}
		.line3 {stroke:$backblue-wl;}
		.line4 {stroke:$white-wl;}
		.line5 {stroke:$blue-wl;}
		.line6 {stroke:$lightblue-wl;}
		.line7 {stroke:$backblue-wl;}
		.line8 {stroke:$yellow-wl;}
		.line9 {stroke:$white-wl;}
		.line10 {stroke:$lightblue-wl;}
		.line11 {stroke:$blue-wl;}
		.line12 {stroke:$white-wl;}
		.line13 {stroke:$lightblue-wl;}
		.line14 {stroke:$yellow-wl;}
		.line15 {stroke:$white-wl;}
		.line16 {stroke:$backblue-wl;}
		.line17 {stroke:$blue-wl;}
		.line18 {stroke:$backblue-wl;}
		.line19 {stroke:$white-wl;}
	}

    .gradient-text * { 
        background-image: -webkit-gradient(linear,left top,left bottom,from(#00a8e1),to(#004ba5));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
         &.left-right {
        	background-image: linear-gradient(45deg,#00a8e1,#004ba5);
        }
   }

	.intro_divider .green-lines {
	    background-color: var(--theme-primary-color);
	}

	.intro_divider .green-faded2 {
	    background-color: var(--theme-variant-color);
	}

	.split-lines {
		background-image: url(../../assets/images/svg/spilt-cb.svg);
	}
	.waves-bkg,
	.bottom-wave {
		background-image: url(../../assets/images/svg/wave-cb.svg);
	}
	.waves {
		background-image: url('../../assets/images/svg/wavelines-ctastrip-oncolor-cb.svg');
	    width: 380px;
	    height: 210px;
	    left: -350px;
	}
	.wave {
		background-image: url(../../assets/images/svg/leadership-wave-cb.svg);
	}
	.wysiwyg-hero,
	.bottomwave {
	   background-image: url(../../assets/images/svg/wavelines-cb.svg);
	}
 	.carousel-quote-impact-stmt {
	   .circle-wrapper {
	 		background-image: url('../../assets/images/svg/circle-lines-cb.svg');
		}
	}
	.team-modal {
		.photo-wrapper {
	 		background-image: url('../../assets/images/svg/circle-lines-cb.svg');
		}
	}
	.diagonal-lines {
		background-image: url('../../assets/images/svg/diagonal-lines-core-cb.svg');
	}
	.wave-graphic {
		background-image: none;
		@include breakpoint(medium) {
			background-image: url('../../assets/images/svg/wavelines-ctastrip-oncolor-cb.svg');
		}
	}
	.content_standard_image_and_text_module {
		 .image-area:after {
		background-image: url('../../assets/images/svg/wavelines-cb.svg');
		}
	}
	.tabbed_expanded_left_justified_vertical_tab_module {
		.icon-wrapper {
		    background-image: url(../../assets/images/svg/corner-circle-lines-cb.svg);
		 }
	 }
 	.resource_3_card_image_and_text {

		@include breakpoint(medium) {
			.resource-card.weighted:first-child {
 				background-image: url(../../assets/images/svg/leadership-wave-cb.svg);
			}
		}
 	}

 	.tabbed_detailed_use_case {
 		.bg-art {
			&:before{
				background-image: url('../../assets/images/svg/cb-rect.svg');

			}
			&:after{
				background-image: url('../../assets/images/svg/wavelines-cb.svg');

			}
 		}
 	}

 	.hero_simple_text::before {
 			background-image: url('../../assets/images/svg/wavelines-cb.svg');
 		
 	}

 	.carded_square_6-card_content {
 		&.side-curls {
 			@include breakpoint(large) {
 				background-image: url(../../assets/images/svg/swirl-left-cb.svg), url(../../assets/images/svg/swirl-right-cb.svg); // replace me
 				
 			}
 		}
 	}
}
