
@mixin dark-blue-mix {
	@include color-theme($dark-blue, $dark-blue-light, $dark-blue-40, $white, $yellow, $gray, $core-orange);
}
#dark-blue-theme {
	@include dark-blue-mix;
	--theme-primary-color: #0F3264;
	--theme-faded-color: #E8EAEF;
	--theme-variant-color: #A4ADC0;
	--theme-contrast-color: #fefefe;
	--theme-accent-color: #00A8E1;
	--theme-mixin-color: #9D9DA3;
	--theme-mixin2-color:  #FEF6D1;

    #written-story {
        .line1 {stroke:#0f3264} 
        .line2 {stroke:#fae164}
        .line3 {stroke:#aadadc}
        .line4 {stroke:#d5e8f4}
        .line5 {stroke:#09a8ab}
        .line6 {stroke:#0f3264}
        .line7 {stroke:#fae164}
        .line8 {stroke:#8ecccd}
        .line9 {stroke:#d5e8f4}
    }  

    
    #swirl-kd {
        .line1 {stroke:#fae164} 
        .line2 {stroke:#0f3264}
        .line3 {stroke:#fcf5bc}
        
        .line4 {stroke:#aadadc}
        .line5 {stroke:#fcf5bc}
        .line6 {stroke:#09a8ab}
        .line7 {stroke:#aadadc}
        
        .line8 {stroke:#8ecccd}
        .line9 {stroke:#fae164}
        .line10 {stroke:#fcf5bc}
    }  

    #high-impact-quote {        
	    .color1 {
	        stroke: #09a8ab; 
	    }
	    
	    .color2 {
	        stroke: #8ecccd;
	    }
	    
	    .color3 {
	        stroke: #fcf5bc;
	    }
	    
	    .color4 {
	        stroke: #fae164;
	    }
	    
	    .color5 {
	        stroke: #0f3264;
	    }

	    .color6 {
	        stroke: #8ecccd;
	    }
	    
	    .color7 {
	        stroke: #09a8ab;
	    }

    }
    
	$yellow-wl:#fae164;
	$green-wl:#09a8ab;
	$lightgreen-wl:#8ecccd;
	$white-wl:#ffffff;
	
	#wavelines-all-colors {
		.line1 {stroke:$yellow-wl;}
		.line2 {stroke:$lightgreen-wl;}
		.line3 {stroke:$green-wl;}
		.line4 {stroke:$white-wl;}
		.line5 {stroke:$lightgreen-wl;}
		.line6 {stroke:$white-wl;}
		.line7 {stroke:$green-wl;}
		.line8 {stroke:$yellow-wl;}
		.line9 {stroke:$white-wl;}
		.line10 {stroke:$yellow-wl;}
		.line11 {stroke:$white-wl;}
		.line12 {stroke:$white-wl;}
		.line13 {stroke:$lightgreen-wl;}
		.line14 {stroke:$yellow-wl;}
		.line15 {stroke:$white-wl;}
		.line16 {stroke:$green-wl;}
		.line17 {stroke:$white-wl;}
		.line18 {stroke:$green-wl;}
		.line19 {stroke:$lightgreen-wl;}
	}


    .gradient-text {
        background-image: -webkit-gradient(linear,left top,left bottom,from(#0f3264),to(#09a8ab));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        &.left-right {
        	background-image: linear-gradient(45deg,#0f3264,#09a8ab);
        }
    }

	.intro_divider .green-lines {
	    background-color: var(--theme-primary-color);
	}

	.intro_divider .green-faded2 {
	    background-color: var(--theme-variant-color);
	}

   
	.tabbed_expanded_left_justified_vertical_tab_module {
		.tabs-title {
			.text, .arrow {
		    	color: $white;
			}
			&.is-active {
				.text, .arrow {
				   color: var(--theme-primary-color);
				}
			}
		}
		.alternate-layout {
			.tabs-title {
				.text, .arrow {
			    	color: $core-blue;
				}
			}
		}
	}

	.split-lines {
		background-image: url(../../assets/images/svg/spilt-db.svg);
	}
	.waves-bkg,
	.bottom-wave {
		background-image: url(../../assets/images/svg/wave-db.svg);
	}
	.waves {
		background-image: url(../../assets/images/svg/wavelines-db.svg);
	}
	.green-bkg .waves,
	.primary-bkg .waves {
		background-image: url(../../assets/images/svg/wavelines-oncolor-db.svg);
	}
	.wave {
		background-image: url(../../assets/images/svg/leadership-wave-db.svg);
	}
	.wysiwyg-hero,
.bottomwave {
	   background-image: url(../../assets/images/svg/wavelines-db.svg);
	}
 	.carousel-quote-impact-stmt {
	   .circle-wrapper {
	 		background-image: url('../../assets/images/svg/circle-lines-db.svg');
		}
	}
	.team-modal {
		.photo-wrapper {
	 		background-image: url('../../assets/images/svg/circle-lines-db.svg');
		}
	}
	.diagonal-lines {
		background-image: url('../../assets/images/svg/diagonal-lines-core-db.svg');
	}
	.wave-graphic {
		background-image: none;
		@include breakpoint(medium) {
			background-image: url('../../assets/images/svg/wavelines-ctastrip-db.svg');
		}
	}
	.content_standard_image_and_text_module {
		 .image-area:after {
		background-image: url('../../assets/images/svg/wavelines-db.svg');
		}
	}
	.tabbed_expanded_left_justified_vertical_tab_module {
	  .icon-wrapper {
		    background-image: url(../../assets/images/svg/corner-circle-lines-db.svg);
		 }
	 }
 	.resource_3_card_image_and_text {

		@include breakpoint(medium) {
			.resource-card.weighted:first-child {
 				background-image: url(../../assets/images/svg/leadership-wave-db.svg);
			}
		}
 	}


	#title-underline {
		.cls-1,
		.cls-2 {
			stroke: var(--theme-accent-color);
		}
	}

   .carousel-quote-impact-stmt {
      .quote {
         p:before {
          color: var(--theme-accent-color);
         }
      }
   }

	#c1 * {
		stroke: $core-blue;
	}

	.tabbed_detailed_use_case {
		.bg-art {
		   &:before{
			   background-image: url('../../assets/images/svg/db-rect.svg');

		   }
		   &:after{
			   background-image: url('../../assets/images/svg/wavelines-db.svg');

		   }
		}
	}

	.hero_simple_text::before {
			background-image: url(../../assets/images/svg/wavelines-db.svg);
		
	}

	.carded_square_6-card_content {
		&.side-curls {
			@include breakpoint(large) {
				background-image: url(../../assets/images/svg/swirl-left-db.svg), url(../../assets/images/svg/swirl-right-db.svg); // replace me
				
			}
		}
	}

}
