.card-intro {

    max-width:700px; 
    margin:auto;
    padding-bottom: 32px;

    .intro_icon {
        display: flex;
        width: 60px;
        height: 60px;
        margin-right: auto;
        margin-bottom: 2em;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 3px;
        border-radius: 50%;
        font-weight: 500;
        text-align: center;
        
        @include respond-to(sm) {
            padding:0;
            margin-right:0;
            margin-left:0; 

        }

        img, svg {
            width: 32px;
            height: 32px;
        }
    }

    .intro_divider {
        display: flex;
        height: 3px;
        margin-right: auto;
        margin-bottom: 2em;
        margin-left: auto;
        justify-content: center;
        align-items: stretch;
        width: 60px;
        
        @include respond-to(sm) {
            margin-right:0;
            margin-left:0;
            margin-bottom: 1.6em;
        }

        .icon-divider-item {
            width: 50%;
            padding-bottom: 0;
            font-weight: 500;
            text-align: center;

            &.divider-orange {
                background-color: #fa8d28;
            }

            &.divider-orange-tint {
                background-color: rgba(250, 141, 40, .5);
            }
        }
    }

    .intro_title {
        
        text-align: center;
        
        @include respond-to(sm) {
            text-align: left;
        }

        h2 {
            font-size: 2.5rem;
            line-height: 44px;
            font-weight: 700;
            letter-spacing: -.04em;
            margin-bottom:16px;
        }
    }

    .intro_text {
        
        text-align: center;
        font-family: Flexo, "Flexo Medium", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 28.8px;

        @include respond-to(sm) {
            text-align: left;
        }

    }
}
@include svg-icons-white-bg (card-intro);
