.social-sharing {
  a.button-facebook,
  a.button-twitter,
  a.button-linkedin,
  a.button-pinterest,
  a.button-xing,
  a.button-reddit {
    color: transparent;
    font-size: 0px;
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    border: 0px;
    margin: 0 1rem 1rem 0;
    background-image: none !important;

    &:before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: $white;
    }
  }
  a.button-facebook {
    background: #2b4170;

    &:before {
        background-image: url('../images/social/fb.svg');
    }
  }
  a.button-facebook:hover {
    background: #3b5998;
    color: #fff;

  }
  a.button-twitter {
    background: #0081ce;

    &:before {
        background-image: url('../images/social/twitter.svg');
    }
  }
  a.button-twitter:hover {
    background: #00aced;
    color: #fff;
  }
  a.button-linkedin {
    background: #0073b2;
    
    &:before {
        background-image: url('../images/social/linkedin.svg');
    }
  }
  a.button-linkedin:hover {
    background: #009cda;
    color: #fff;
  }
}
.center-social .social-sharing,
.horiz-social .social-sharing {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.center-social .social-sharing {
  justify-content: center;
}