.hero_text_left_image_right {
    
    .grid-container {

        @include respond-to(csm_992) {
            padding-left:0;
            padding-right:0;
        }

        .grid-x {
            min-height:650px;

            @include respond-to(csm_992) {
                flex-direction: column-reverse;
                height:auto;
            }
        
            .cell {
                
                @include fluid('margin-bottom', 0, 100);

                &.split-text { 
                    padding-top:55px;
                    width:66.667%;
                    flex: 0 0 auto;
                    
                    @include respond-to(csm_992) {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        padding-bottom:40px;
                        width:100%;
                        padding-top:0;
                    }

                    @include respond-to(vsm) {
                        padding-top:55px;
                    }
                    
                    .iconn {
                        margin-bottom: 30px;
                        width: 80px;
                        svg {width:80px;}
                    }

                    h1 { 
                        text-shadow: 0 6px 10px rgba(0, 0, 0, .25);
                        line-height: 1.1;
                        font-weight: 700;
                        margin-top: 0;
                        letter-spacing: -.05em;
                        max-width: 500px;
                        margin-bottom: 3rem;
                        @include fluid('font-size', 40, 60);
                    }

                    p.description {
                        font-size: 1.125rem;
                        margin: 0;
                        padding-left: 0;
                        max-width:100%;
                        padding-right:100px;

                        @include respond-to(sm) {
                            text-align:center;
                            padding-right:0;
                            max-width: 80%;
                        }
                    }

                    ul {
                        
                        display: grid;
                        margin-bottom: 0;
                        padding-left: 0;
                        list-style-type: none;
                        width:90%;
                        padding-right:20px;
                        margin-left:0;

                        &.Columns {grid-template-columns:1fr 1fr;}
                        &.List {grid-template-columns:1fr;}

                        @include respond-to(csm_992) {
                            margin-left:0;
                            width:auto;
                            grid-template-columns:1fr;
                        }

                        li {
                            display: grid;
                            grid-template-columns:30px 1fr;
                            padding-bottom: 2em;
                            align-items: center;
                            order: 0;

                            @include respond-to(csm_992) {
                                margin-left:0;
                                padding-right: .5rem;
                                padding-left: .5rem;
                            }

                            .list-icon {
                                width: 30px;
                                margin-right: 10px;
                            }

                            p {
                                font-size: 1.125rem;
                                text-align: left;

                                margin: 0;
                                padding-left: 10px;
                                flex-grow: 1;
                                @include respond-to(csm_992) {
                                    padding-top:5px;
                                }
                            }
                        }
                    }
                }

                &.split-image {
                    width: 33.33333%;
                    flex: 0 0 auto;

                    @include respond-to(csm_992) {
                        width: 100%;
                    }

                    .img-area {
                        position: absolute;
                        left: 59%;
                        padding-left: 16px;
                        height: 100%;

                        @include respond-to(csm_992) {
                            position: static;
                            left: 0;
                            padding-left: 0;
                        }

                        img {
                            height: 100%;
                            object-fit: cover;
                            @include respond-to(csm_992) {
                                position: static;
                                width:100%;
                            }


                        }
                    }
                }
            }
        }

    }

}
@include svg-icons-white-bg (hero_text_left_image_right, 6, darkback); 

#teal-theme .hero_text_left_image_right li #c1  * {
    stroke-width: 10px;
}

