.high_impact_quote {

    .grid-x {
        align-items: center;
        min-height: 750px;
        grid-row-gap: 16px;
        display: grid;
        grid-template-columns: 1fr minmax(200px, 1000px) 1fr;
        grid-auto-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 1.75em;

        @include respond-to(sm) {
            min-height: 430px;
        }

        .quote-pattern--radial--large {
            position: static;
            left: -25%;
            top: 0;
            right: auto;
            bottom: 0;
            max-width: 700px;
            margin-left: -350px;
            align-self: center;
            flex: 1;
            align-self: stretch;
        }

        .quote-bg-text {
            align-self: center;
            grid-column-end: span 1;
            grid-column-start: span 1;
            grid-row-end: span 1;
            grid-row-start: span 1;
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            right: 0;

            .quote-bg-text_inner {

                align-self: center;

                .quote-bg-text_item {
                    color: rgba(234, 244, 249, .7);
                    font-size: 9rem;
                    line-height: 7.2rem;
                    font-weight: 700;
                    letter-spacing: -.05em;
                    text-transform: uppercase;
                }
            }
        }

        .quote-container {
            justify-self: center;
            align-self: center;
            max-width: 900px;
            position: relative;
            margin-right: 0;
            margin-left: 0;
            padding-left: 1.5rem;

            .txt-with-divider {
                display: flex;
                width: 60px;
                height: 3px;
                margin-bottom: 1em;
                margin-left: 0;
                justify-content: center;
                align-items: stretch;
                margin-right: 0;

                .txt-with-divider--item {
                    width: 100%;
                    padding-bottom: 0;

                    &.divider--light-blue {
                        background-color: #8dc8e8;
                    }
                }
            }

            .quote-caption {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                color: #00a8e1;
                line-height: 1.3;                
            }

            blockquote.wbf-block-quote {
                border-left: 0;
                padding-left: 0;
                p {
                    margin-bottom: 1rem;
                    margin-left: -1.5rem;
                    padding: 0 0 0 1.5rem;
                    border-left-style: none;
                    background-image: linear-gradient(45deg, #004ba5, #00a8e1);
                    color: #004ba5;
                    font-size: 3.25rem;
                    line-height: 1.1;
                    font-weight: 700;
                    letter-spacing: -.05em;
                    text-indent: 0;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    border-left: 0;
                }            
                @media screen and (min-width: 1280px) {
                    p {
                        margin-bottom: 1rem;
                        font-size: 3.5rem;
                    }
                }

                @media screen and (min-width: 1440px) {
                    p {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}