.video-hero	{
	// max-height: 100vh;
	
	#homepage_video-desktop,
	#homepage_video-mobile,
	#homepage_video {
		position: relative;
		
		.click-overlay {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%; 
		}
		
		
		.video-overlay {
			position: absolute;
			top: 0rem;
			padding: 1rem;
			width: 100vw;
			text-align: center;
			
			
			
			@include breakpoint(medium) {
				top: 24%;
				left: 9%; 
				// margin: 2rem;
				text-align: left;
				width: 30vw;
				overflow: hidden;
			}

			.overlay {
				// display: none; 
				.video-title {
					font-weight: 700;
					font-family: 'Flexo Bold';
					margin: 1rem 0 0 0;
					font-size: 2rem;
					line-height: 2rem;
					
					@include breakpoint(medium) {
						font-size: 3.2vw;
						line-height: 3.1vw;						
					}

					
					.line {
						position: relative;
					}

				}
				.cta {
					font-size: 1.75rem; 
				}	
				
			}
			
		}

		.progress-bar {
			position: absolute;
			bottom: 0px;
			height: 5px;
			min-height: 5px;
			background-color: $yellow; 
			transition: all .296s linear; 
		}

		

		.wistia_responsive_padding {
			 // max-height: 30vh;
		}

		.w-vulcan-v2-button {
			opacity: 0;
		}

	}
	
	.hero-ctas {
		margin: 1rem 0;
		
		.cta  {
			

			
			@include breakpoint(small only) {
				padding-right: 1.5rem;
				
				&:last-child{
					padding-right: 0rem;
				}
			}

			a { 
				color: $white;
				transition: color .3s ease;
				white-space: nowrap;
				
				svg {
					transition: all .3s ease;
				}
				
				@include breakpoint(small only) {
					font-size: .9125rem;
					white-space: normal;
				}

				&:hover {
					text-decoration: underline;
					svg {
						// color: $core-orange;
						transform: translate(5px, 0);
					}
				}
			}
		}
	}
}

