.offer_strip {

	margin: 2rem 1rem 3rem;
	-webkit-border-radius: $b-radius;
	        border-radius: $b-radius;
	background-repeat: no-repeat;
	background-size: 0px;
	overflow: hidden;
	background-position: right 81vw center;
	// @include breakpoint(xlarge) {
	// 	background-position: left center;
	// }

	&.overlay-me {
		margin-bottom: 0; 
	}

	.button {
		background: $white;
		color: $core-orange;
		border: 1px solid $white;
		font-size: 1rem;
		padding: 0.9rem 3rem;
		&:after {
			background-image: url("../images/svg/arrow.svg");
		}
		&:focus {
			transition: none;
			background: $white; 
		}
	}

	& > .grid-container {
		padding: 2rem 0;
	}

	h2 {
		color:#fff;
	}

	@include breakpoint(medium) {
		// padding: 4rem 0;
		margin: 1rem 0 3rem;
		-webkit-border-radius: 0;
		        border-radius: 0;
		background-size: 340px;

		&.round {
			margin: 2rem 2rem 1rem;
			border-radius: 1em;
		}
		& > .grid-container {
			padding: 3rem 0;
		}
	}

	@include breakpoint(small only) {
		h2 {
			font-size: 1.625rem;
		}
		.text {
			text-align: center;
		}
	}

	.bg-art {
		width: 350px;
		left: -6em;
		
		@include respond-to(lg) {
		    left: -10em;
		}

		@include respond-to(md) {
		    left: -12em;
		}

		@include respond-to(sm) {
		    left: -14em;
		}

		@include respond-to(vsm) {
		    display:none;
		}
	}
	
	.text-center {
		padding-top: 30px;

		@include breakpoint(medium) {
			padding-top: 0;
		}
	}
}

.footer-overlay {
	min-height: 175px;
	background: $dark-gray;
	margin-top: -9rem;
	position: relative;
	z-index: -1;
}
