#dark-blue-theme {
    .secondary_navigation_bar {
        background-color: #09a8ab;
    }
}

#core-blue-theme {
    .secondary_navigation_bar {
        background-color: #004ba5;
    }
}

#dark-gray-theme {
    .secondary_navigation_bar {
        background-color: var(--theme-accent-color);
    }
}

#medium-blue-theme, #-theme {
    .secondary_navigation_bar {
        background-color: #0f3264;
    }
}

#teal-theme {
    .secondary_navigation_bar {
        background-color: #0F3264;
    }
}

#yellow-theme {
    .secondary_navigation_bar {
        background-color: var(--theme-accent-color);
    }
}

#green-theme {
    .secondary_navigation_bar {
        background-color: #0F3264;
    }
}

.secondary_navigation_bar {
    z-index: 1;
    position: relative;
    &.pad-section{
        @media only screen and (max-width: 768px) {
            padding: 0;
        }
    }

    &.secondary-nav{
        @media only screen and (max-width: 768px) {
            overflow: hidden;
            background-color: #333;
            position: relative;
        }
        #secondary-nav-items {
            @media only screen and (max-width: 768px) {
                display: none;
                padding-top: 15px;
            }
        }
        @media only screen and (max-width: 768px) {
            a{
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                display: block;
            }
            a.icon {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    
    #nav-show-hide{
        display:none;
        @media only screen and (max-width: 768px) {
                display:block;
        }
    }

    #selected-item{
        display:none;
        @media only screen and (max-width: 768px) {
            display: block;
            color: #ffffff;
            margin: 0;
            font-size: 17px;
            padding: 15px 31px;
            height:55px;
            background-color: #09A8AB;
        }
    }

    ul.sec_nav_bar_wrapper {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            padding: 0 16px;
            @media only screen and (max-width: 768px) {
                display: flex !important;
            }
            &.active{
                a.scroll_nav_item {
                    color: #f9e446;
                    border-bottom: 2px solid currentColor; 
                    display: inline;
                    @media only screen and (max-width: 768px) {
                        color: #ffffff !important;
                        border-bottom: none !important;
                    }
                }
            }
            a.scroll_nav_item {
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                padding: 10px 16px;
                @media only screen and (max-width: 768px) {
                    display: block!important;
                    text-align: left !important;
                }
                &:hover {
                    color: #f9e446;
                    border-bottom: 2px solid currentColor; 
                    display: inline;
                }
            }

            a.cta {
                color: #fa8d28;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                padding: 10px 16px;
                background-color: #fff;
                @media only screen and (max-width: 768px) {
                    text-align: center !important;
                    margin: 18px;
                }    
                &:hover {
                    color: #fa8d28;
                    //border-bottom: none;
                    background-color: #fff;
                }

                &:after {
                    background-image: url(../images/svg/arrow.svg);
                }
            }
        }
    }

    ~section.written-story-centered {
        padding-right: 0px;
        padding-left: 0px;

        .grid-container {
            padding-right: 0px;
            padding-left: 0px;
            max-width: 100%;

            div.written-story-container {
                max-width: 100%;
                box-shadow: none;
                border-radius: 0;
            }
        }
    }
}

#secondaryNavBar.secondary_navigation_bar.secBarSticky {
    position: fixed;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .secondary_navigation_bar ul.sec_nav_bar_wrapper li a {
        display: inline-block !important;
    }
}