.single-lp {

    .hero-with-form {
        overflow: hidden;
        padding: 0 1rem 4rem 1rem;

        @include breakpoint(small only) {
            padding-bottom: 1rem;
        }

        @include breakpoint(medium only) {
            padding-bottom: 2rem;
        }

        .eyebrow {
            display: flex;
            padding-bottom: 8px;

            .icon {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                margin-right: 6px;

                svg {
                    max-height: 22px;
                    max-width: 22px;

                    path {
                        stroke: white !important;
                    }
                }
            }
        }

        .list-item {
            display: flex;
            border-bottom: 1px solid $dark-gray-40;
            padding: 30px 0;

            &:last-child {
                border-bottom: none;
            }

            .icon {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                margin: auto 20px auto 0;
            }

            .copy {
                margin: auto 0;
            }
        }

        .form-cell {
            .form-title {
                line-height: 18px;
            }

            .fixed-underline {
                margin: 0 0 15px 0;

                svg {
                    width: 75%;
                }
            }

            a {
                color: inherit !important;
            }
        }

        .grid-container {
            z-index: 10;
            position: relative;
        }

        &:before {
            content: '';
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-image: url(../images/svg/diagonal-lines-core-green.svg);
            z-index: 0;
            background-repeat: no-repeat;
            transform: scale(1);

            @include breakpoint(small only) {
                background-position: 170% bottom;
                background-size: 80%;
            }

            @include breakpoint(medium) {
                background-position: 140% bottom;
                background-size: 55%;
            }

            @include breakpoint(large) {
                background-position: 120% center;
                background-size: 40%;
            }

            @include breakpoint(xxlarge) {
                background-position: bottom right;
                background-size: 50%;
            }
        }

        &.ebook-top-section {
            @include breakpoint(large) {
                padding-bottom: 0;

                .button {
                    margin-bottom: 0;
                }
            }
        }

        &.ebook-bottom-section {
            @include breakpoint(large) {
                padding-top: 0;
            }

            &:before {
                background-image: none !important;
            }

            .ebook-float {
                min-height: 75px;
                position: relative;
                z-index: -1;
                margin-left: -1rem;
                margin-right: -1rem;
                padding: 0;

                &:before {
                    background-image: none !important;
                }

                @include breakpoint(small) {
                    display: none;
                }

                @include breakpoint(large) {
                    display: inherit;
                }
            }

            .form-cell {
                @include breakpoint(large) {
                    margin-top: -75px;
                }

                .form-image {
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }

            .subheadline {
                margin-top: 2rem;

                @include breakpoint(large) {
                    margin-top: 3rem;
                }
            }

            .copy {
                padding: 1rem 0;

                @include breakpoint(large) {
                    padding: 2rem 0;
                }
            }

            .list-item {
                border-bottom: none;
                margin: 22px 0;
                padding: 20px 25px;
                border-radius: 10px;
                box-shadow: 0 5px 6px -4px rgba(0,0,0,.2);

                .copy {
                    padding: 0;
                }
            }
        }

        &.with-image-block {
            .headline {
                border-bottom: 1px solid $dark-gray-40;
                margin-bottom: 20px;
                padding-bottom: 40px;
            }

            .subheadline {
                padding-bottom: 10px;
            }

            .copy {
                padding-bottom: 30px;
            }

            .form-cell {
                text-align: center;

                .form-wrapper {
                    max-width: 550px;
                    margin: auto;
                    padding: 4rem;

                    @include breakpoint(small only) {
                        padding: 1rem;
                    }

                    @include breakpoint(medium only) {
                        padding: 2rem;
                    }

                    @include breakpoint(medium) {
                        @include hard-shadow;
                    }

                    .form-image {
                        width: 100%;
                        border-radius: 16px;

                        img {
                            box-shadow: 0 5px 6px -4px rgba(0,0,0,.4);
                        }

                        @include breakpoint(medium) {
                            @include bot-rt-shadow;
                        }
                    }

                    .cta {
                        margin: 20px auto 0 auto;
                        width: 100%;
                        text-align: center;

                        a {
                            width: auto;
                            color: white !important;
                        }
                    }
                }
            }
        }

        &.media-section {
            padding: 0 0 4rem 0;

            @include breakpoint(small) {
                padding-bottom: 30px;
            }

            &:before {
                display: none;
            }

            .media-wrapper {
                position: relative;

                @include breakpoint(small only) {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 125px;
                }

                @include breakpoint(medium) {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 200px;
                }

                @include breakpoint(large) {
                    padding-bottom: 350px;
                }

                &:before {
                    content: '';
                    width: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                    top: 0;

                    @include breakpoint(small only) {
                        display: none;
                    }

                    @include breakpoint(medium only) {
                        display: none;
                    }

                    @include breakpoint(large) {
                        bottom: 0px;
                    }
                }

                &.waveline::before {
                    top: 38px;
                    background-repeat: repeat-y;
                    background-size: 700px;
                    background-position: top left;
                    transform: scale(-1);
                    left: 230px;
                }
                &.swirl::before {
                    background-repeat: no-repeat;
                    background-position: 106% center;
                }
                &.circle::before {
                    background-repeat: no-repeat;
                    background-position: 106% center;
                }
            }

            .media-video {

                .ss-iframe-wrapper {
                    position: relative;
                    overflow: hidden;
                    padding-top: 56.25%;

                    .ss-iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                }

                padding-top: 0;

                @include breakpoint(small only) {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 20px;
                    margin-top: -125px;
                }

                @include breakpoint(medium) {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 20px;
                    margin-top: -200px;
                }

                @include breakpoint(large) {
                    margin-top: -320px;
                    padding-top: 30px;
                }
            }
            &.slideshare {
                .media-wrapper {
                    padding-bottom: 30px;
                }

                .media-video {
                    margin-top: 0px;

                }
            }
        }
    }
}
