.single-lp {

    .image_and_text_module {

        position: relative;
        margin-top: 1rem;
        overflow: hidden;


        h2.title {
            color: inherit !important;
            font-size: 1.75rem;
        }

        .button {
            width: auto;
            margin-top: 1rem;
        }

        .image img {
            @include hard-shadow;
        }

        .image-container {
            display: flex;
            justify-content: flex-end;
            @include breakpoint(medium down) {
                justify-content: center;
                margin-bottom: 2rem;
            }
            &.flat-wave-pattern{
                background-image: url(../images/svg/wave-teal.svg);
                background-position: left bottom;
                background-size: 100% auto;
                padding-bottom: 145px;
                background-repeat: no-repeat;
                @include breakpoint(medium down){
                    padding-bottom: 100px;
                }
            }
        }

        .image-area {
            border-radius: 12px !important;
            position: relative;
            left: .5rem;
            width: 80%;
            height: auto;
            @include breakpoint(large down){
                width: 500px;
                left: 0;
                text-align: center;
            }
            @include breakpoint(large){
                width: 100%;
                left: 0;
                text-align: center;
            }
        }

        .b-radius {
            border-radius: 12px;
        }

        @include breakpoint(medium down) {
            p {
                padding-right: 0;
            }
            .no-image p {
                padding: 0;
            }
        }
    }
}
