.single-lp {

    #wpadminbar {
        position: fixed !important;
    }

    .header-logo {
        max-width: 202px;
        white-space: nowrap;
        padding: 20px 0;

        svg * {
            fill: #fefefe;
        }
    }

    .button {
        width: auto;
    }

    .form-cell {

        .form-wrapper {
            // width: 400px;
            padding: 2rem;
            border: 3.5px solid $xlight-gray;
            // max-height: calc(100vh - 12em);
            // overflow-y: auto;

            .form-title {
                margin: 0;
            }
        }

        .sticky.social-sticky.b-radius.is-anchored.is-at-bottom {
            @media screen and (max-width: 1023px) {
                top: 1px !important;
            }
            
            @include breakpoint(medium down) {
                position: relative;
            }
        }

        form {
            input,
            textarea,
            select {
                margin-bottom: 0;
                border-radius: 4px;
                border-color: $slate;
                background-color: lighten($light-slate, 2%);
                color: $dark-slate;

                &.mktoInvalid {
                    border-color: red;
                }

                &:focus {
                    border-color: $slate;
                    -webkit-box-shadow: 0 0 0 $white;
                            box-shadow: 0 0 0 $white;
                }
            }

            .mktoFormRow {
                margin: 0 0 1.5rem 0;
            }

            label {
                // width: 400px;
                white-space: nowrap;
                font-size: 1rem;
                color: $dark-slate;
            }
            .mktoFieldWrap {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                -webkit-flex-flow: row wrap;
                    -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        @include breakpoint(small only) {
                            flex-flow: column;
                            align-items: initial;
                            
                        }

                input,
                select {
                    flex-basis: 60%;
                }

                select {
                    background-image : url(../../assets/images/arrow-down.svg);
                }

                textarea {
                    flex-basis: 100%;
                    margin-top: 1rem;
                }

                .mktoError {
                    justify-self: flex-end;
                    width: 100%;
                    text-align: right;

                }

                .mktoErrorMsg {
                    color: $core-orange;
                }
            }

            .mktoButtonRow {
                display: flex;
                flex-direction: row;
                justify-content: center;

                button.mktoButton.button.cta {
                    border-radius: 20px;
                }
            }
        }
    }
}
