.single-lp {

    #green-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-green.svg);
            }
            &.waveline::before {
                background-image: url(../../assets/images/svg/wavelines-green.svg);
            }
            &.swirl::before {
                background-image: url(../../assets/images/svg/swirl-right-green.svg);
            }
            &.radial::before {
                background-image: url(../../assets/images/svg/corner-circle-lines-green.svg);
            }
        }

        .hero-with-form.media-section {
            &:before {
                display: none;
            }
            .media-wrapper {
                &:before, &.diagonal::before {
                    background-image: url(../../assets/images/svg/diagonal-lines-core-green.svg);
                }
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-green.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-green.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-green.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-green.svg);
            }
        }
    }

    #dark-blue-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-db.svg);
            }
            &.waveline::before {
                background-image: url(../../assets/images/svg/wavelines-db.svg);
            }
            &.swirl::before {
                background-image: url(../../assets/images/svg/swirl-right-dg.svg);
            }
            &.radial::before {
                background-image: url(../../assets/images/svg/corner-circle-lines-dg.svg);
            }
        }

        .hero-with-form.media-section {
            &:before {
                display: none;
            }
            .media-wrapper {
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-db.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-dg.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-dg.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-db.svg);
            }
        }
    }

    #core-blue-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-cb.svg);
            }
            &.waveline::before {
                background-image: url(../../assets/images/svg/wavelines-cb.svg);
            }
            &.swirl::before {
                background-image: url(../../assets/images/svg/swirl-right-cb.svg);
            }
            &.radial::before {
                background-image: url(../../assets/images/svg/corner-circle-lines-cb.svg);
            }
        }

        .hero-with-form.media-section {
            &:before {
                display: none;
            }
            .media-wrapper {
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-cb.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-cb.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-cb.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-cb.svg);
            }
        }
    }

    #dark-gray-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-dg.svg);
            }
        }

        .hero-with-form.media-section {
            &:before {
                display: none;
            }
            .media-wrapper {
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-dg.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-dg.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-dg.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-dg.svg);
            }
        }
    }

    #medium-blue-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-mb.svg);
            }
        }

        .hero-with-form.media-section {
            &:before, &.diagonal::before {
                display: none;
            }
            .media-wrapper {
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-mb.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-mb.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-mb.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-mb.svg);
            }
        }
    }

    #teal-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-teal.svg);
            }
        }

        .hero-with-form.media-section {
            &:before {
                display: none;
            }
            .media-wrapper {
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-teal.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-teal.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-teal.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-teal.svg);
            }
        }
    }

    #yellow-theme {
        .hero-with-form {
            &:before, &.diagonal::before {
                background-image: url(../../assets/images/svg/diagonal-lines-core-yellow.svg);
            }
        }

        .hero-with-form.media-section {
            &:before {
                display: none;
            }
            .media-wrapper {
                &.waveline::before {
                    background-image: url(../../assets/images/svg/wavelines-yellow.svg);
                }
                &.swirl::before {
                    background-image: url(../../assets/images/svg/swirl-right-yellow.svg);
                }
                &.radial::before {
                    background-image: url(../../assets/images/svg/corner-circle-lines-yellow.svg);
                }
            }
        }

        .lp-event-details {
            .featured:before {
                background-image: url(../../assets/images/svg/swirl-right-yellow.svg);
            }
        }
    }
}
