.single-lp {

    .lp-talent {
        position: relative;
        margin-top: 4rem;
        margin-bottom: 4rem;
        overflow: hidden;

        @include breakpoint(small only) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        @include breakpoint(medium only) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        h2.title {
            color: inherit !important;
        }

        .quote {
            padding: 20px 0 0 65px;
            position: relative;

            .quote-text {
                color: #1D3564;
                font-size: 1.5rem;
                z-index: 1;
                position: relative;
            }

            .quote-name {
                color: $green;
                padding: 20px 0 0 0;
            }

            .quote-logo {
                img {
                    max-width: 150px;
                }
            }

            &:before {
                content: '\201c';
                font-family: 'Flexo Bold';
                color: var(--theme-primary-color);
                font-size: 14rem;
                position: absolute;
                z-index: -1;
                top: -70px;
                left: -15px;
            }
        }

        .fixed-underline {
            margin: 0 0 15px 0;

            #title-underline {
                width: 75%;

                .cls-1, .cls-2 {
                    stroke: $green !important;
                }
            }
        }

        .list-headline {
            margin: 4rem 0 0 0;
            color: $green !important;

            @include breakpoint(large) {
                margin-top: 0;
            }
        }

        .list-item {
            display: flex;

            .item-col {
                flex: 0 1 auto;
                margin: 0 0 20px 0;

                .circle {
                    display: block;
                    filter: drop-shadow(6px 3px 0px $black-a20);
                    justify-content: center;
                    height: 75px;
                    width: 100px;
                }

                .circle-image {
                    clip-path: circle(36px at center);
                    height: 100%;
                    width: auto;
                    max-width: unset;
                    position: absolute;
                }

                .speaker-name {
                    font-weight: bold;
                }

                img {
                    max-width: 150px;
                }
            }
        }
    }
}
